@media screen and (max-width: 576px){
    .personal{
        display:flexbox;
        flex-direction: column;
        text-align:center;
    }    
}
@media screen and (min-width: 577px) and (max-width: 1104px){  /* max vald baserat på följande media query; ifall den ändras måste också denna. */
    .personal{
        display:grid;
        gap: 0px;
        grid-template-columns: 50% auto;
        grid-template-rows:auto auto;
    }
    .person{
        border:none;
    }
}
@media screen and (min-width: 1105px) { /* bredd vald baserat på image width; kan behöva ändras */
    .personal{
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .person{
        border:none;
    }
    footer{
        display:grid;
        grid-template-columns: 10% auto;
    }
}
body{
    background-color: rgb(200, 255, 200);
    max-width:100%;
}
.presentation{
    margin-left:10%;
    margin-right:10%;
}
.image {
    width:min(275px, 99%);
    height:400px;
    display:flex;
    justify-self: center;
    margin-top:2px;
}
.person{
    display:grid;
    padding: 2px;
    margin-bottom: 25px;
    align-items:center;
}
.person:hover{
    background-color: rgb(180, 235, 180);
}
i{
    width:30px;
    height:30px;
}
.konkatt-ikoner{
    display:flex;
}
.spacer{
    width:33%;
    display:flex;
    justify-content: center;
}
.fb{
    background: url(icons/facebook.svg);
    background-repeat:no-repeat;
    background-size:30px;
    width:30px;
    border-radius: 15px;
}
.fb:hover{
    background-color: rgb(215, 111, 111);
}
.insta{
    background: url(icons/instagram.svg);
    background-repeat:no-repeat;
    background-size:30px;
    border-radius: 15px;
}
.insta:hover{
    background-color: rgb(215, 111, 111);
}
.git{
    background: url(icons/github.svg);
    background-repeat:no-repeat;
    background-size:30px;
    border-radius: 15px;
}
.git:hover{
    background-color: rgb(215, 111, 111);
}
.nyhetsbrev{
    display:block;
    padding-bottom:5px;
    border-bottom: 1px solid black;
}
h1{
    text-align: center;
}
.prenumerera{
    text-align: center;
}
.input{
    text-align:center;
}
.legal {
    font-style: italic;
    font-size: 14px;
}
.copy{
    width:170px; /* För att stoppa radbrytning */
    margin-top:0px;
}
button{
    background-color:rgb(215, 111, 111);
    border:none;
    border-radius:5px;
}
.fornamn{
    text-align:center;
    margin-bottom:2px;
}
.efternamn{
    text-align:center;
    margin-top:0px;
}